*{
	margin:0;
	padding: 0;
}

html, body {
	height:100%;
	background-image: url("/Images/Home_Page/background2.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#wrap {
	min-height: 100%;
	
	/*background-color: springgreen;*/
}

header{
	position: relative;
	background-color: #239ec9;
	text-align: center;
}

#header_title{
	padding-top: 15px;
	padding-bottom: 15px;
}

#header_h1{
	font-size: 26pt;
}

#header_h2{
	font-size: 18pt;
}

#Nav_Bar{
	background-color: #267bbf;
	padding-top: 8px;
	padding-bottom: 8px;
	
}

#main {
	height: 200%;
	overflow: auto;
	padding-bottom: 20px;
}

#home_main{
	text-align: center;
}

#main_h1{
	color: white;
	text-shadow: 3px 3px 3px black;
	font-size: 24pt;
}

#main_p{
	color: white;
	text-shadow: 4px 4px 4px black;
	font-size: 16pt;
}

.Nav_Link{
	padding-left: 50px;
	padding-right: 50px;
	font-size: 18pt;
	color: black;
	
}

footer{
	font-size: 12pt;
	background-color: #267bbf;
	position: relative;
	margin-top: -20px;
	right: 0;
	bottom: 0;
	left: 0;
	height: 40px;
	text-align: center;
}

/*
-------Projects------------
*/
#projects_list{
	text-align: center;
}
#project1{
	padding: 20px;
}

#project_left{
	width: 50%;
	display: inline-block;
	border: solid;
	box-sizing: border-box;
	border-color: greenyellow;
	border-width: 4px;
	text-align: center;
}

#project_right{
	width: 50%;
	display: inline-block;
	border: solid;
	box-sizing: border-box;
	border-color: green;
	border-width: 4px;
	text-align: center;
}

#project2{
	padding: 20px;
}

#project3{
	padding: 20px;
}

#project4{
	padding: 20px;
}
#project_main_left{
	position: relative;
	top: 0;
	left: 0;
	width: 50%;
	border-radius: 3px;
	border-color: green;
}

#project_main_right{
	position: relative;
	top: 0;
	right: 0;
	width: 50%;
	border-radius: 3px;
	border-color: greenyellow;
}

a:link {
	text-decoration: none;
	color: black;

  }
  
  a:visited {
	text-decoration: none;
	color: black;
  }
  
  a:hover {
	text-decoration: none;
	color: white;
	text-shadow: 2px 2px 2px 2px black;
  }
  
  a:active {
	text-decoration: underline;
  }





